<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/main.js"></script>
</head>
<body>
    <header>
        <h1>Bienvenue aux inscriptions journée découverte <br>à l'IUT de Blois</h1>
    </header>
<h1>inscription</h1>

<label for="name">pseudo:</label>

<input type="text" id="name" name="name"  size="10">


    <div id="mess">{{ mess }}</div>
</body>
</html>